*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#f5f5f7;
  font-family:Arial, sans-serif;
}

.mobile{
  max-width:430px;
  margin:auto;
  padding:14px;
}

/* HEADER */

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:18px;
}

.logo h1{
  font-size:34px;
}

.blue{
  color:#132a7a;
}

.red{
  color:#ef4444;
}

.logo p{
  color:#666;
  font-size:13px;
  margin-top:-2px;
}

.top-icons{
  display:flex;
  gap:12px;
}

.circle{
  width:48px;
  height:48px;
  border-radius:50%;
  background:white;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#2563eb;
  text-decoration:none;
  box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.green{
  color:#22c55e;
}

.dark{
  background:#132a7a;
  color:white;
}

/* HERO */

.hero{
  background:
  linear-gradient(rgba(20,35,130,0.92), rgba(35,55,255,0.7)),
  url("/images/banner.jpg");

  background-size:cover;
  background-position:center;

  border-radius:28px;
  padding:24px;
  color:white;
}

.badge{
  display:inline-block;
  background:rgba(255,255,255,0.12);
  padding:8px 14px;
  border-radius:30px;
  font-size:13px;
  margin-bottom:18px;
}

.hero h2{
  font-size:42px;
  line-height:1.1;
  margin-bottom:14px;
}

.hero span{
  color:#ff5b82;
}

.hero p{
  font-size:14px;
  color:#e5e7eb;
  margin-bottom:24px;
}

.hero-buttons{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.hero-btn{
  text-decoration:none;
  padding:13px 16px;
  border-radius:14px;
  font-size:14px;
  font-weight:bold;
  display:flex;
  align-items:center;
  gap:8px;
}

.white{
  background:white;
  color:#2563eb;
}

.green-btn{
  background:#22c55e;
  color:white;
}

.pink{
  background:#ff4b7d;
  color:white;
}

/* SEARCH */

.search-box{
  margin:18px 0;
  background:white;
  border-radius:20px;
  padding:16px;
  display:flex;
  align-items:center;
  gap:12px;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.search-icon{
  color:#888;
}

.search-box input{
  border:none;
  outline:none;
  width:100%;
  font-size:15px;
}

/* TESTS */

.tests{
  display:flex;
  flex-direction:column;
  gap:16px;
}

.card{
  background:white;
  border-radius:24px;
  padding:16px;
  display:flex;
  align-items:center;
  gap:14px;
  position:relative;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.preview-image{
  width:76px;
  height:76px;
  border-radius:18px;
  object-fit:cover;
}

.card-content{
  flex:1;
}

.card-content h3{
  font-size:20px;
  margin-bottom:6px;
  color:#111827;
}

.card-content p{
  font-size:14px;
  line-height:1.4;
  color:#666;
}

.actions{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.download-btn,
.enquire-btn{
  text-decoration:none;
  border:2px solid;
  padding:10px 14px;
  border-radius:12px;
  font-size:13px;
  font-weight:bold;
  display:flex;
  align-items:center;
  gap:8px;
}

.arrow{
  color:#999;
}